footer
    background #8D9194
    text-align center
    padding 15px 0
    p
        margin 0
        nunito 10
        color #fff
        span
            display inline-block
            margin 0 2px
            +mobile()
                display block
                font-size 0
        a:hover
            color #000
