body
    overflow-x hidden

header
    width 100%
    height 100px
    background #fff
    +mobile()
        height 80px
    .center
        clearfix()
        height 100%
    .logo
        display block
        width 130px
        height 100%
        text-indent -9999px
        background $img('logo.png') no-repeat center
        float left
        +mobile()
            width 90px
            background-size 100% auto
    .right
        height 100%
        float right
        clearfix()
    .social
        margin-left 40px
        width 23px
        height 100%
        float left
        padding-top 25px
        +mobile()
            padding-top 15px
            margin-left 15px
        a
            width 23px
            height 23px
            display block
            text-indent -9999px
            + a
                margin-top 4px
            &.facebook
                background $img('facebook.png') no-repeat center
            &.linkedin
                background $img('linkedin.png') no-repeat center
    #mobile-toggle
        position relative
        display block
        background #8D9194
        border 0
        height 50px
        margin-top 25px
        width 49px
        outline 0
        padding 0
        cursor pointer
        float left
        margin-left 35px
        border-radius 3px
        z-index 9999
        +mobile()
            margin-left 10px
            margin-top 15px
        .lines
            display block
            width 23px
            height 2px
            background #fff
            position relative
            transition .3s ease
            margin 0 auto
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 2px
                background #fff
                transition .3s ease
                border-radius 3px
            &:before
                top 9px
            &:after
                top -9px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #menu
        min-height 700px
        +tablet()
            min-height 600px
        +mobile()
            min-height 460PX
        background #8D9194
        position absolute
        right -300px
        opacity 0
        top 0
        padding-top 100px
        padding-right 2000px
        margin-right -2000px
        padding-left 40px
        padding-bottom 40px
        text-align right
        z-index 9998
        transition all .3s ease
        visibility hidden
        &.open
            opacity 1
            right 0
            visibility visible
        a
            display block
            roboto 18
            color #fff
            padding-right 15px
            margin-top 25px
            width 350px
            +mobile()
                width 250px
            &:first-child
                margin-top 0
            &:hover
                color #000
            &.sub
                font-size 16px
                margin-top 12px
                + .sub
                    margin-top 4px
            +mobile()
                font-size 15px
                margin-top 15px
                &.sub
                    font-size 13px
                    margin-top 10px
        .has-sub
            margin-top 25px
            text-align right
            a
                display inline-block
                width auto
                vertical-align top
                padding-right 8px
                &.submenu-handle
                    width 12px
                    height 12px
                    position relative
                    margin 0
                    margin-right 15px
                    margin-top 4px
                    padding 0
                    +mobile()
                        margin-top 1px
                    &:before
                        content ''
                        position absolute
                        top 5px
                        left 0
                        width 100%
                        height 2px
                        background #fff
                    &:after
                        content ''
                        position absolute
                        top 0
                        left 5px
                        width 2px
                        height 100%
                        background #fff
                        opacity 1
                        transition all .3s
                    &.open:after
                        transform rotate(90deg)
                        opacity 0

