.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.titulo-wrapper
    width 100%
    overflow hidden
    h2
        width 9000px
        background $verde
        nunito 34 bold
        margin 0
        color #fff
        padding-left 38px
        height 52px
        line-height 52px
        border-radius 6px
        +tablet()
            padding-left 24px
            font-size 28px
        +mobile()
            font-size 20px
            height 40px
            line-height 40px
            padding-left 16px

.not-found
    text-align center
    padding 280px 0
    +tablet()
        padding 200px 0
    +mobile()
        padding 100px 0
    h1
        display inline-block
        border 2px solid #000
        padding 12px 24px
        roboto 12
        letter-spacing 1px
        text-transform uppercase
