desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$verde = #5BB50F

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Roboto:400,700')

roboto($size, $weight = normal)
    font-size $size + 0px
    font-family 'Roboto', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700

nunito($size, $weight = normal)
    font-size $size + 0px
    font-family 'Nunito', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
