.contato
    position relative
    min-height 575px
    clearfix()
    .contato-mapa
        position absolute
        width 50%
        height calc('100% - 52px')
        right 0
        top 52px
        +mobile()
            position relative
            width 100%
            height 280px
            top 0
        iframe
            display block
            width 100%
            height 100%
    .contato-informacoes
        width 50%
        float left
        padding 25px 60px 40px 40px
        +tablet()
            padding 25px 40px 40px 24px
        +mobile()
            width 100%
            float none
            padding 20px 0 30px 16px
        p
            padding-left 30px
            color $verde
            roboto 16
            margin 0
            +mobile()
                font-size 14px
            + p
                margin-top .5em
            &.telefone
                font-weight 700
                background $img('telefone.png') no-repeat left top
            &.email
                background $img('email.png') no-repeat left center
                a:hover
                    color #666
            &.endereco
                background $img('endereco.png') no-repeat 2px top
        h3
            margin 2em 0 1em
            roboto 24
            color $verde
            +mobile()
                font-size 20px
        form
            clearfix()
            input[type=text]
            input[type=email]
            textarea
                display block
                width 100%
                border 0
                border-bottom 1px solid #ccc
                color #666
                roboto 14
                outline 0
                padding 6px 0
                margin-bottom 8px
                +mobile()
                    font-size 13px
                +placeholder()
                    color $verde
            textarea
                resize none
                height 125px
            input[type=submit]
                display inline-block
                float right
                background #8D9194
                nunito 18 bold
                border 0
                outline 0
                color #fff
                padding 6px 10px
                transition background .3s
                cursor pointer
                letter-spacing .5px
                border-radius 4px
                +mobile()
                    font-size 15px
                &:hover
                    background #666
            #form-contato-response
                float left
                width 100%
                display none
                border 1px solid $verde
                padding 8px
                roboto 12
                color $verde
                text-align center
                text-transform uppercase
                margin-top 8px
