.banners
    width 100%
    height 600px
    position relative
    margin-bottom 50px
    +tablet()
        height 500px
        margin-bottom 40px
    +mobile()
        height 380px
        margin-bottom 30px
    .slide
        display block
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-size cover
        background-position center
        .center
            height 100%
    .wrapper
        position absolute
        top 0
        left 0
        height 100%
        display flex
        flex-direction column
        justify-content center
        padding-left 130px
        +tablet()
            padding-left 60px
        +mobile()
            padding-left 0
        > *
            text-shadow 0 1px 2px rgba(#000, .2)
        h3
            nunito 48 bold
            color $verde
            margin 0 0 .4em
        h4
            nunito 36 bold
            margin 0 0 .4em
        p
            nunito 24
            margin 0
        +tablet()
            h3
                font-size 40px
            h4
                font-size 26px
            p
                font-size 18px
        +mobile()
            h3
                font-size 24px
            h4
                font-size 18px
            p
                font-size 14px
    .cycle-pager
        position absolute
        width 100%
        height 15px
        bottom 20px
        text-align center
        z-index 102
        +mobile()
            display none
        span
            display inline-block
            vertical-align top
            font-size 0
            width 15px
            height 15px
            border-radius 100%
            background #000
            border 2px solid #000
            cursor pointer
            margin 0 4px
            &.cycle-pager-active
                cursor default
                background transparent
    .setas
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        +mobile()
            display none
        .center
            height 100%
        a
            display block
            position absolute
            top 50%
            width 18px
            height 18px
            margin-top -9px
            transform rotate(45deg)
            z-index 102
            font-size 0
            &#cycle-prev
                left 0
                border-left 2px solid #000
                border-bottom 2px solid #000
            &#cycle-next
                right 0
                border-right 2px solid #000
                border-top 2px solid #000

.servicos
    background $img('bg-servicos.jpg') no-repeat center $verde
    background-size cover
    width 100%
    padding 40px 0 70px
    margin-bottom 120px
    +tablet()
        margin-bottom 90px
    +mobile()
        margin-bottom 40px
        padding 30px 0
    .titulo-wrapper
        margin-bottom 50px
        +tablet()
            margin-bottom 35px
        +mobile()
            margin-bottom 25px
        .titulo
            background #fff
            color $verde
    .servicos-slides
        position relative
        .cycle-pager
            position absolute
            width 100%
            height 15px
            bottom -50px
            text-align center
            z-index 102
            +mobile()
                display none
            span
                display inline-block
                vertical-align top
                font-size 0
                width 15px
                height 15px
                border-radius 100%
                background #fff
                border 2px solid #fff
                cursor pointer
                margin 0 4px
                &.cycle-pager-active
                    cursor default
                    background transparent
        .slide
            border 1px solid #fff
            border-radius 8px
            width 850px
            margin-left 50%
            transform translateX(-50%)
            padding 40px
            +tablet()
                width calc('100% - 100px')
                padding 25px
            +mobile()
                width calc('100% - 30px')
                margin-left 0
                transform none
                padding 15px
            .titulo
                display block
                img
                    display inline-block
                    vertical-align middle
                    +tablet()
                        width 110px
                    +mobile()
                        width 70px
                h3
                    display inline-block
                    vertical-align middle
                    roboto 42 bold
                    margin 0
                    color #fff
                    margin-left 40px
                    +tablet()
                        font-size 32px
                        margin-left 25px
                    +mobile()
                        font-size 18px
                        margin-left 15px
            .texto
                p
                    roboto 18
                    color #fff
                    line-height 1.5
                    &:last-child
                        margin-bottom 0
                    +tablet()
                        font-size 15px
                    +mobile()
                        font-size 14px
        .servicos-seta
            display block
            position absolute
            top 50%
            width 18px
            height 18px
            margin-top -9px
            transform rotate(45deg)
            z-index 102
            font-size 0
            +mobile()
                top 40px
            &#cycle-prev-s
                left 0
                border-left 2px solid #fff
                border-bottom 2px solid #fff
                +mobile()
                    display none
            &#cycle-next-s
                right 0
                border-right 2px solid #fff
                border-top 2px solid #fff

.a-lobus
    padding-bottom 120px
    +tablet()
        padding-bottom 90px
    +mobile()
        padding-bottom 40px
    clearfix()
    .titulo-wrapper
        margin-bottom 50px
        +tablet()
            margin-bottom 35px
        +mobile()
            margin-bottom 25px
        .titulo
            background #8D9194
    .texto
        width 57%
        float left
        padding-left 40px
        p
            roboto 16
            margin 1.5em 0
        +tablet()
            padding-left 24px
        +mobile()
            padding-left 16px
            width 100%
            p
                font-size 14px
    .box
        width 33.333%
        float right
        background #F2F2F2
        padding 30px
        > div:not(:last-child)
            margin-bottom 35px
            padding-bottom 35px
            border-bottom 2px solid #fff
        .missao
            background $img('missao.png') no-repeat right top
        .visao
            background $img('visao.png') no-repeat right top
        .valor
            background $img('valor.png') no-repeat right top
        h3
            nunito 24 bold
            color $verde
            margin 5px 0 15px
        p
            margin 0
            roboto 14
        +mobile()
            width 100%
            padding 25px
            > div
                background-size 30px auto !important
            > div:not(:last-child)
                margin-bottom 25px
                padding-bottom 25px
            h3
                font-size 20px
                margin 5px 0 10px
            p
                font-size 13px
