.produtos
    padding-bottom 120px
    +tablet()
        padding-bottom 90px
    +mobile()
        padding-bottom 40px
    .arvore
        .center
            clearfix()
        width 100%
        height 701px
        background $img('arvore-produtos.jpg') no-repeat center
        margin-bottom 40px
        +above($tablet)
            position relative
            &:after
                content ''
                position absolute
                width 174px
                height 67px
                bottom 40px
                left 50%
                margin-left -45px
                background $img('lobus-branca.png') no-repeat center
        +below($tablet)
            background none
            height auto
        +tablet()
            margin-bottom 35px
            margin-top 30px
        +mobile()
            margin-bottom 25px
            margin-top 20px
        +above($tablet)
            a.icone
                &.icone-1:hover
                    background lighten(#00D0F6, 10)
                &.icone-2:hover
                    background lighten(#FF913A, 10)
                &.icone-3:hover
                    background lighten(#C781BF, 10)
                &.icone-4:hover
                    background lighten(#ff673a, 10)
                &.icone-5:hover
                    background lighten(#00D0F6, 10)
                &.icone-6:hover
                    background lighten(#FF673A, 10)
                &.icone-7:hover
                    background lighten(#ff913a, 10)
                &.icone-8:hover
                    background lighten(#C781BF, 10)
                &.icone-9:hover
                    background lighten(#00D0F6, 10)
                &.icone-10:hover
                    background lighten(#00D0F6, 10)
                &.icone-11:hover
                    background lighten(#FF913A, 10)
                &.icone-12:hover
                    background lighten(#FF913A, 10)
                &:hover
                    transform scale(1.1)
                    box-shadow 0 4px 10px rgba(#000, .3)

        .icone
            position absolute
            display block
            border-radius 100%
            padding 10px
            transition all .3s ease
            +below($tablet)
                width calc('16.667% - 10px') !important
                height calc('16.667% - 10px') !important
                position relative
                float left
                margin-right 12px
                margin-bottom 12px
                top 0 !important
                left 0 !important
                padding 2% !important
                &:nth-child(6n)
                    margin-right 0
            img
                display block
                width 100%
                height auto
            &.icone-1
                width 81px
                height 81px
                top 347px
                left 133px
                background #00D0F6
            &.icone-2
                width 107px
                height 107px
                top 193px
                left 135px
                background #FF913A
            &.icone-3
                width 95px
                height 95px
                left 280px
                top 166px
                background #C781BF
            &.icone-4
                width 140px
                height 140px
                top 415px
                left 288px
                padding 13px
                background #ff673a
            &.icone-5
                width 113px
                height 113px
                left 433px
                top 292px
                padding 12px
                background #00D0F6
            &.icone-6
                width 158px
                height 158px
                left 509px
                top 159px
                padding 14px
                background #FF673A
            &.icone-7
                width 69px
                height 69px
                top 333px
                left 553px
                padding 8px
                background #ff913a
            &.icone-8
                width 148px
                height 148px
                top 333px
                left 623px
                padding 13px
                background #C781BF
            &.icone-9
                width 148px
                height 148px
                top 389px
                left 774px
                padding 13px
                background #00D0F6
            &.icone-10
                width 116px
                height 116px
                top 51px
                left 813px
                padding 12px
                background #00D0F6
            &.icone-11
                width 115px
                height 115px
                top 270px
                left 838px
                padding 11px
                background #FF913A
            &.icone-12
                width 113px
                height 113px
                top 531px
                left 996px
                padding 11px
                background #FF913A
    .produtos-thumbs
        clearfix()
        a
            display block
            position relative
            margin-right 11px
            margin-bottom 11px
            float left
            +above($tablet)
                width calc('25% - 8.25px')
                &:nth-child(4n)
                    margin-right 0
            +tablet()
                width calc('33.333% - 7.333px')
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 5.5px')
                &:nth-child(2n)
                    margin-right 0
            img
                width 100%
                display block
            &:after
                content ''
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                opacity 0
                transition opacity .3s
                background rgba($verde, .7)
            &:hover:after
                opacity 1

.produto-interna
    border-top 1px solid #AFAFAF
    margin-bottom 80px
    +tablet()
        margin-bottom 60px
    +mobile()
        margin-bottom 30px
    clearfix()
    .capa
        float left
        width 45%
        +mobile()
            width 100%
    .texto
        width 50%
        float right
        roboto 16
        line-height 1.5
        padding-top 20px
        +mobile()
            width 100%
            font-size 14px
            padding-top 10px
        clearfix()
        .voltar
            roboto 14
            color #828282
            width 100%
            text-align right
            display block
            margin-bottom 30px
            +mobile()
                margin-bottom 20px
            &:hover
                color #000
        p
        ul
            margin 1.5em 0
        ul
            list-style-type none
            padding 0
            li
                padding-left 1em
                position relative
                &:before
                    content '\00b7'
                    position absolute
                    left 0
        img
            vertical-align top
            max-width 100%
            margin-right 10px
            margin-bottom 10px
